* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

#root {
    text-align: center;
}

#root img {
    width: 1440px;
    height: 900px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}