* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

#root {
    text-align: center;
}

#root img {
    display: block;
    overflow: hidden;
    margin: 240px auto 0 auto;
}

#root.pc img {
}

#root.mobile img {
    width: 70%;
}